@import "tailwindcss";

@theme {
  --color-green-dark: #204C36;
  --color-green-light: #BBDBBF;
  --color-graphite: #171717;
  --font-display: "Funnel Display", serif;
  --font-sans: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #171717;
  font-family: "DM Sans", sans-serif;
}

@keyframes marquee-scroll {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}
